:root {
    --p-color: #41573f;
    --s-color: #28b686f3;
    --t-color: rgba(255, 255, 255, 0.932);
}

h1,
h2,
h3 {
    font-family: "Inter", "Open-Sans";
}

h1 {
    display: block;
}

p,
a {
    font-family: "Inter", "Open-Sans";
}

body {
    text-align: center;
    font-family: "Inter", "Open-Sans";
}

#hero img {
    width: 100%;
    height: 100%;
}

#message{
    font-weight:600;
    font-size: larger;
}

#basic
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:5px;
    padding: 0.5rem;
    background-color: var(--p-color);
    color: var(--t-color);
    margin: 10px;
}

#basic h2,
#media h3,
#tracker h3,
#reminders h3 {
    background-color: var(--t-color);
    color: var(--p-color);
    font-weight: 900;
    margin: auto;
    padding: 1rem;
}


#media img {
    width: 100%;
    height: auto;
}

#tracker img {
    width: 100%;
    height: auto;
}

#reminders img {
    width: 100%;
    height: auto;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    text-align: center;
    margin-top: 20px;
}

#cards img {
    max-width: 85%;
    height: auto;
    border-radius:10px;
}

#cards p {
    font-weight: 550;
}

#purpose p, #team p{
    color:black;
    padding:10px;
}

#subscribe{
    background-color: #4b524b;
    border-radius: 30px;
    margin: 20px;
    padding: 5px;
}

#subscribe h2, p{
    color:rgb(255, 255, 255);
}

form {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin: 1rem;
    font-weight: 600;
}

label {
    display: block;
    color: white;
    font-family: "Inter", "Open-Sans";
    padding-top: .2rem;
    font-size: 1.15rem;
}

input[type=text],
input[type=date],
input[type=email],
input[type=submit]{
    display:inline-block;
    margin: 1rem 0 1rem 0;
    padding: .3rem;
    border-radius: 4px;
    border-left-width: 3px;
    font-size: 1rem;
    width: 90%;
}

input:required {
    border-left-color: rgb(247, 18, 18);
}

input:focus {
    border-left-color: rgb(9, 255, 0);
    outline: none;
}

input[type=submit] {
    border: none;
    max-width: fit-content;
    text-align: center;
    background-color: rgba(36, 38, 39, 0.952);
    color: var(--t-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    margin-left:10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Inter", "Open-Sans";
    transition: background-color 0.3s, color 0.3s, font-size 0.3s, transform 0.3s;
}

input[type=submit]:hover {
    background-color: rgba(23, 121, 116, 0.938);
    border: 2px solid rgb(23, 43, 134);
    color: rgb(102, 3, 64) rgb(27, 26, 26);
    transform: scale(1.05);
}

input[type=submit]:focus {
    outline: 3px dashed goldenrod;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--s-color);
}

header div p,
header div h2 {
    margin: 10px;
}

header img,
header div {
    margin-left: 10px;
}

nav {
    background-color: var(--p-color);
}

#navButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--p-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

#navButton::before {
    content: "\2630";
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--t-color);
    text-decoration: none;
    font-size: 1.3rem;
}

ul.menuLinks a:hover {
    background-color: rgba(2, 2, 2, 0.849);
}

li.active a::before {
    content: "📍";
}

ul.menuLinks {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#navButton.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: 1rem;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

footer div {
    margin-left: 2rem;
}