:root {
    --p-color: #41573f;
    --s-color: #28b686f3;
    --t-color: rgba(255, 255, 255, 0.932);
}

h1,
h2,
h3 {
    font-family: "Inter", "Open-Sans";
    text-align: center;
}

h1 {
    display: block;
    background-color: #498357;
    color: rgb(240, 237, 237);
    margin: 3% auto;
}

p,
a {
    font-family: "Inter", "Open-Sans";
}

body {
    text-align: center;
}

#showData {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #376843;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.356);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-family: "Inter", "Open-sans";
}

#showData h4,
#showData p {
    padding: 0.5rem;
    margin: 0;
    text-align: left;
    color: white;
}

#showData p {
    font-weight: 550;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--s-color);
}

header div p,
header div h2 {
    margin: 2px;
}

header img,
header div {
    margin-left: 10px;
}

nav {
    background-color: var(--p-color);
}

#navButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--p-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
}

#navButton::before {
    content: "\2630";
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: var(--t-color);
    text-decoration: none;
    font-size: 1.3rem;
}

ul.menuLinks a:hover {
    background-color: rgba(2, 2, 2, 0.849);
}

li.active a::before {
    content: "📍";
}

ul.menuLinks {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

#navButton.open::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: var(--p-color);
    color: var(--t-color);
    padding: 1rem;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
  }
  
footer div {
    margin-left: 2rem;
}

@media (min-width: 40rem) {
    #showData {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 38rem){
    footer {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
    }

    #attributions {
        margin-top: 50px;
    }
    
    .sociallinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px auto;
        padding: 0 40px;
    }

}

@media (max-width: 30rem) {
    #showData {
        flex-direction: column;
    }
}